.main-header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}

.main-logo {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  user-select: none;
}
.main-logo span {
  color: #fff;
}