body {
    background-color: #f9f9f9; /* Cor de fundo clara */
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white; /* Fundo branco para o formulário */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }